@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Performing CRUD operation on this web app. The web app is about Books, where we can Create, Update/Edit and Delete the infomation of a book.</p>
</div>
